* {
  margin: 0;
  padding: 0;
}
.language-page {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  background-position: bottom;
  background-size: cover;
}
.language-buttons {
  position: fixed;
  top: 40%;
  left: 10%;
}
.button-language {
  margin: 24px;
  padding: 40px 30px;
  background-color: #08562c;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.camera-video {
  background-color: #000;
}
.camera-pic {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.camera-pic img {
  height: 100%;
}
.camera-button {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  background-color: #bbb;
  color: #000;
  z-index: 3;
  position: fixed;
  left: 50%;
  margin-left: -50px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}